<div>
  <header>
    <nav>
      <ul>
        <li><a [routerLink]="['employees']">All Employees</a></li>
        <li><a [routerLink]="['newemployee']">Add Employee</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
      </ul>
    </nav>
  </header>
</div>
<div><router-outlet></router-outlet></div>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    background-color: #4caf50;
  }
</style>
