<div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Mail</label>
      <input type="email" id="email" formControlName="email" />
    </div>
    <div>
      <label for="password">loginkey</label>
      <input type="password" id="password" formControlName="password" />
    </div>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>

<style>
  .form {
    position: relative;
    margin: 0 auto;
    background: #ffffff;
    width: 300px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
  }

  .btn {
    margin-left: 10px;
  }

  div {
    margin: 10px;
  }
</style>
